<!DOCTYPE html>
<html lang="zh-tw">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>電機資訊學士班－高中生專區</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">高中生專區</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">簡介</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#class">課程介紹</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#abroad">出國留學</a>
                    </li>
					<li>
                        <a class="page-scroll" href="#getting-in">入學方式</a>
                    </li>
					<li>
                        <a class="page-scroll" href="#qa">常見問題</a>
                    </li>
					<li>
                        <a class="page-scroll" href="#contact">聯絡我們</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="cover" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1><i>交大電機資訊學士班</i></h1>
					<h1><i><small>NCTU EECSHP</small></i></h1>
                    
                </div>
            </div>
			<div class="row">
				<div class="col-md-3" ></div>
				<div class="col-md-6">
					<a class="btn btn-primary page-scroll btn-xl btn-block start-btn" href="#about">Start！</a>
				</div>
				<div class="col-md-3"></div>
			</div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>跨領域人才</h1>
					<h1>　　國際視野</h1>
					<h1><small>我是電資我超強</small></h1>
					<p>電資有選課自由與優先權</p>
                </div>
				<div class="col-md-4">
					<p>pic</p>
				</div>
            </div>
        </div>
    </section>
	
	<section id="about-2" class="about-section">
		<div class="container">
			<div class="row">
                <div class="col-md-4">
                    <h1>text</h1>
                </div>
				<div class="col-md-4">
					<h1>pic</h1>
				</div>
				<div class="col-md-4">
					<h1>text</h1>
				</div>
            </div>
		</div>
	</section>

	<section id="about-3" class="about-section">
		<div class="container">
			<div class="row">
                <div class="col-md-4">
                    <h1>pic</h1>
                </div>
				<div class="col-md-8">
					<h1>text</h1>
				</div>
            </div>
		</div>
	</section>
	
    <!-- Class Section -->
    <section id="class" class="class-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>課程介紹</h1>
                </div>
				<div class="col-md-3">
					<h3>Class</h3>
				</div>
				<div class="col-md-3">
					<h3>Class</h3>
				</div>
				<div class="col-md-3">
					<h3>Class</h3>
				</div>
				<div class="col-md-3">
					<h3>Class</h3>
				</div>
            </div>
        </div>
    </section>

    <!-- Abroad Section -->
    <section id="abroad" class="abroad-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>出國留學</h1>
					
                </div>
				<div class="col-md-6">
					<h2>text</h2>
				</div>
				<div class="col-md-6">
					<h2>pic</h2>
				</div>
            </div>
        </div>
    </section>
	
	<section id="abroad-2" class="abroad-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
					<h2>pic</h2>
				</div>
				<div class="col-md-6">
					<h2>text</h2>
				</div>
            </div>
        </div>
    </section>
	
	<!-- Getin Section -->
	<section id="getting-in" class="getin-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1>入學方式</h1>
				</div>
				<div class="col-md-4">
					<h3>text</h3>
				</div>
				<div class="col-md-4">
					<h3>text</h3>
				</div>
				<div class="col-md-4">
					<h3>text</h3>
				</div>
			</div>
		</div>
	</section>
	
	<!-- Q&A Section -->
	<section id="qa" class="qa-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1>常見問題</h1>
				</div>
				<div class="col-md-6">
					<h1>Q&A</h1>
				</div>
				<div class="col-md-6">
					<h1>Q&A</h1>
				</div>
			</div>
		</div>
	</section>
	
	<!-- Contact Section -->	
	<section id="contact" class="contact-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1>聯絡我們</h1>
				</div>
			</div>
		</div>
	</section>
	
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>

</body>

</html>
